all_flows.txt
[
    {
        "id": "a8336af9.2cb8e8",
        "type": "tab",
        "label": "Thingiverse_Weather",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1269d07e.22b4c",
        "type": "openweathermap in",
        "z": "a8336af9.2cb8e8",
        "name": "Local Weather",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Walding",
        "country": "Austria",
        "language": "de",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "e36dd303.fe9cf",
                "e7e45c18.51ca1"
            ]
        ]
    },
    {
        "id": "7d070dad.ac3a94",
        "type": "ui_gauge",
        "z": "a8336af9.2cb8e8",
        "name": "Weather",
        "group": "f68f4725.c176c8",
        "order": 1,
        "width": "8",
        "height": "3",
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#0d9ca8",
            "#e6e600",
            "#cd3434"
        ],
        "seg1": "",
        "seg2": "",
        "x": 660,
        "y": 200,
        "wires": []
    },
    {
        "id": "e36dd303.fe9cf",
        "type": "function",
        "z": "a8336af9.2cb8e8",
        "name": "Get Temp",
        "func": "result = msg.payload.tempc;\n\nglobal.set(\"temperature\", result);\nflow.set(\"temp\", result);\nvar msg = {payload: result};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 160,
        "wires": [
            [
                "7d070dad.ac3a94",
                "a95171f0.92323"
            ]
        ]
    },
    {
        "id": "b846c75b.95d468",
        "type": "ui_chart",
        "z": "a8336af9.2cb8e8",
        "name": "Temp chart",
        "group": "f68f4725.c176c8",
        "order": 3,
        "width": "8",
        "height": "5",
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "5",
        "ymax": "35",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 850,
        "y": 160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e7e45c18.51ca1",
        "type": "function",
        "z": "a8336af9.2cb8e8",
        "name": "Get Clouds",
        "func": "result = msg.payload.clouds;\n\ncontext.set(\"clouds\", result);\n\nvar msg = {payload: result};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 260,
        "wires": [
            [
                "9ab4829b.78047",
                "5abe1c8a.f451e4"
            ]
        ]
    },
    {
        "id": "9ab4829b.78047",
        "type": "ui_gauge",
        "z": "a8336af9.2cb8e8",
        "name": "Clouds",
        "group": "f68f4725.c176c8",
        "order": 2,
        "width": "8",
        "height": "3",
        "gtype": "gage",
        "title": "Clouds",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#0d9ca8",
            "#e6e600",
            "#cd3434"
        ],
        "seg1": "",
        "seg2": "",
        "x": 650,
        "y": 300,
        "wires": []
    },
    {
        "id": "a87d5d9a.5ea27",
        "type": "ui_chart",
        "z": "a8336af9.2cb8e8",
        "name": "Clouds chart",
        "group": "f68f4725.c176c8",
        "order": 4,
        "width": "8",
        "height": "5",
        "label": "Clouds",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 850,
        "y": 260,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5abe1c8a.f451e4",
        "type": "delay",
        "z": "a8336af9.2cb8e8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "hour",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 670,
        "y": 260,
        "wires": [
            [
                "a87d5d9a.5ea27"
            ]
        ]
    },
    {
        "id": "a95171f0.92323",
        "type": "delay",
        "z": "a8336af9.2cb8e8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "hour",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 670,
        "y": 160,
        "wires": [
            [
                "b846c75b.95d468"
            ]
        ]
    },
    {
        "id": "4b998ff4.c9161",
        "type": "comment",
        "z": "a8336af9.2cb8e8",
        "name": "Edit the node below to set the api key for the weather",
        "info": "",
        "x": 330,
        "y": 120,
        "wires": []
    },
    {
        "id": "f68f4725.c176c8",
        "type": "ui_group",
        "z": "",
        "name": "Local Weather",
        "tab": "cd8a11dc.580c7",
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "cd8a11dc.580c7",
        "type": "ui_tab",
        "z": "",
        "name": "Weather",
        "icon": "fa-sun-o",
        "order": 5
    }
]
