all_flows.txt
[{"id":"3dbd3640.b5fc4a","type":"tab","label":"Thingiverse_Settings","disabled":false,"info":""},{"id":"dbe598e1.59d008","type":"tab","label":"Thingiverse_Alarm","disabled":false,"info":""},{"id":"e9ca6212.e667e","type":"tab","label":"Thingiverse_Wheater","disabled":false,"info":""},{"id":"f2d640cc.d0654","type":"tab","label":"Thingiverse_Clock","disabled":false,"info":""},{"id":"bca74c2d.2cb7","type":"mqtt-broker","z":"","name":"broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d1bddc8b.123f","type":"ui_group","z":"","name":"Create Alarm","tab":"2c96a8c1.f69988","disp":true,"width":"9","collapse":false},{"id":"b025b22b.5b687","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"clock","tz":""},{"id":"177ecc54.4cc094","type":"mqtt-broker","z":"","name":"broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e5edb107.cd901","type":"ui_group","z":"","name":"Alarm List","tab":"2c96a8c1.f69988","disp":true,"width":"8","collapse":false},{"id":"2c96a8c1.f69988","type":"ui_tab","z":"","name":"Alarm","icon":"fa-bell-o","order":4},{"id":"59a42774.8feac8","type":"ui_group","z":"","name":"Weather Rottenegg","tab":"3458a43c.905b8c","disp":true,"width":"16","collapse":false},{"id":"3458a43c.905b8c","type":"ui_tab","z":"","name":"Weather","icon":"fa-sun-o","order":5},{"id":"6297ee08.0654e","type":"ui_group","z":"","name":"Mode","tab":"2c253c2a.890484","order":1,"disp":true,"width":"3","collapse":false},{"id":"7dec971a.70dfb8","type":"ui_group","z":"","name":"Colors","tab":"2c253c2a.890484","order":2,"disp":true,"width":"6","collapse":false},{"id":"ef66be57.7092","type":"mqtt-broker","z":"","name":"broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a626978f.861c98","type":"ui_group","z":"","name":"Custom","tab":"2c253c2a.890484","order":3,"disp":true,"width":"4","collapse":false},{"id":"bf354e09.748f1","type":"ui_group","z":"","name":"Timer","tab":"2c253c2a.890484","order":4,"disp":true,"width":"4","collapse":false},{"id":"962631.ee4ab9d","type":"ui_group","z":"","name":"Settings","tab":"2c253c2a.890484","order":5,"disp":true,"width":"4","collapse":false},{"id":"2c253c2a.890484","type":"ui_tab","z":"","name":"Clock","icon":"fa-clock-o","order":2},{"id":"796c01cb.908f3","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"832414ad.9909d8","type":"inject","z":"3dbd3640.b5fc4a","name":"TIME OFFSET","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":360,"wires":[["d6e3971.1634a68"]]},{"id":"d6e3971.1634a68","type":"function","z":"3dbd3640.b5fc4a","name":"Set offset","func":"global.set(\"timeoffset\", msg.payload);\nreturn null;","outputs":1,"noerr":0,"x":700,"y":360,"wires":[[]]},{"id":"9f4e299f.5ed708","type":"comment","z":"3dbd3640.b5fc4a","name":"Edit the node below to set an offset","info":"Austria, Germany etc: 2","x":400,"y":320,"wires":[]},{"id":"aa3f1447.b27698","type":"inject","z":"3dbd3640.b5fc4a","name":"CREATE TABLE","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":600,"wires":[["7d184b6f.4488a4","9504a67f.0d76f8"]]},{"id":"7d184b6f.4488a4","type":"function","z":"3dbd3640.b5fc4a","name":"use Database","func":"msg.topic = \"use clock\";\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":600,"wires":[["81b6af60.12753","56cfd356.54779c"]]},{"id":"9504a67f.0d76f8","type":"delay","z":"3dbd3640.b5fc4a","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":640,"wires":[["b8627cb6.d8086","a68acec4.aaca9"]]},{"id":"b8627cb6.d8086","type":"function","z":"3dbd3640.b5fc4a","name":"Create Table","func":"msg.topic = \"CREATE TABLE `alarm` (  `ID` int(11) NOT NULL,  `Name` varchar(50) COLLATE utf8_unicode_ci NOT NULL,  `Time` varchar(50) COLLATE utf8_unicode_ci NOT NULL,  `Monday` tinyint(1) NOT NULL,  `Tuesday` tinyint(1) NOT NULL,  `Wednesday` tinyint(1) NOT NULL,  `Thursday` tinyint(1) NOT NULL,  `Friday` tinyint(1) NOT NULL,  `Saturday` tinyint(1) NOT NULL,  `Sunday` tinyint(1) NOT NULL,  `RepeatTimer` tinyint(4) NOT NULL,  `DeleteTimer` tinyint(4) NOT NULL,  `Duration` int(11) NOT NULL,  `Enabled` tinyint(4) NOT NULL DEFAULT '1') ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;\";\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":640,"wires":[["81b6af60.12753","56cfd356.54779c"]]},{"id":"c125ca40.fb2da8","type":"function","z":"3dbd3640.b5fc4a","name":"Alter Table Add primary key","func":"msg.topic = \"ALTER TABLE `alarm` ADD PRIMARY KEY (`ID`)\";\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":680,"wires":[["81b6af60.12753","56cfd356.54779c"]]},{"id":"a68acec4.aaca9","type":"delay","z":"3dbd3640.b5fc4a","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":680,"wires":[["c125ca40.fb2da8","7ebc95d3.fbc6dc"]]},{"id":"4cc3c254.782ddc","type":"function","z":"3dbd3640.b5fc4a","name":"Alter Table Auto increment","func":"msg.topic = \"ALTER TABLE `alarm` MODIFY `ID` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=36;\";\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":720,"wires":[["81b6af60.12753","56cfd356.54779c"]]},{"id":"7ebc95d3.fbc6dc","type":"delay","z":"3dbd3640.b5fc4a","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":890,"y":720,"wires":[["4cc3c254.782ddc"]]},{"id":"56cfd356.54779c","type":"debug","z":"3dbd3640.b5fc4a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1330,"y":640,"wires":[]},{"id":"ae9a4faf.3c454","type":"debug","z":"3dbd3640.b5fc4a","name":"DATABASE OUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1530,"y":600,"wires":[]},{"id":"46c8a428.bbe59c","type":"mqtt out","z":"3dbd3640.b5fc4a","name":"","topic":"clock","qos":"","retain":"","broker":"bca74c2d.2cb7","x":310,"y":900,"wires":[]},{"id":"81b6af60.12753","type":"mysql","z":"3dbd3640.b5fc4a","mydb":"b025b22b.5b687","name":"","x":1330,"y":600,"wires":[["ae9a4faf.3c454"]]},{"id":"d282acc8.82c7e","type":"mysql","z":"3dbd3640.b5fc4a","mydb":"b025b22b.5b687","name":"","x":310,"y":480,"wires":[[]]},{"id":"ebdce4a9.ad1948","type":"ui_form","z":"dbe598e1.59d008","name":"Alarm Creation Form","label":"","group":"d1bddc8b.123f","order":1,"width":"9","height":"5","options":[{"label":"Name","value":"lblName","type":"text","required":true},{"label":"Time","value":"lblTime","type":"text","required":true},{"label":"Alarm Timeout (minutes)","value":"lblDuration","type":"number","required":true}],"formValue":{"lblName":"","lblTime":"","lblDuration":""},"payload":"","topic":"","x":310,"y":220,"wires":[["5f9fcf00.fa14c","ef0432e.75cebd"]]},{"id":"cce28d9b.57577","type":"mysql","z":"dbe598e1.59d008","mydb":"b025b22b.5b687","name":"","x":710,"y":220,"wires":[["93372a0a.fd1f38"]]},{"id":"5f9fcf00.fa14c","type":"function","z":"dbe598e1.59d008","name":"Form SQL Statement","func":"/*\nvar name = msg.payload.lblName;\nvar time =msg.payload.lblTime;\nvar mo =msg.payload.CMo ? 1 : 0;\nvar di =msg.payload.CDi ? 1 : 0;\nvar mi =msg.payload.CMi ? 1 : 0;\nvar don =msg.payload.CDo ? 1 : 0;\nvar fr =msg.payload.CFr ? 1 : 0;\nvar sa =msg.payload.CSa ? 1 : 0;\nvar so =msg.payload.CSo ? 1 : 0;\n*/\nvar name = msg.payload.lblName;\nvar time =msg.payload.lblTime;\nvar duration = msg.payload.lblDuration * 60000;\n\nvar mo = flow.get(\"Mo\");\nvar tu = flow.get(\"Tu\");\nvar we = flow.get(\"We\");\nvar th = flow.get(\"Th\");\nvar fr = flow.get(\"Fr\");\nvar sa = flow.get(\"Sa\");\nvar su = flow.get(\"Su\");\nvar del = flow.get(\"delete\");\nvar rep = flow.get(\"repeat\");\n\nvar name2 = \"'\"+name+\"'\";\nvar time2 = \"'\"+time+\"'\";\n\nvar sql = \"INSERT INTO alarm (Name, Time, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday, RepeatTimer, DeleteTimer, Duration, Enabled) VALUES (\"+ name2 + \", \" + time2 + \", \" + mo +\", \" + tu +\", \" + we +\", \" + th +\", \" + fr +\", \" + sa +\", \" + su +\", \" + rep +\", \" + del +\", \" + duration +\", 1)\";\n//var msg = {payload: sql};\n\nmsg.topic = sql;\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":220,"wires":[["cce28d9b.57577","93372a0a.fd1f38"]]},{"id":"b25e5e42.942aa","type":"inject","z":"dbe598e1.59d008","name":"Get Alarms from Database","topic":"","payload":"","payloadType":"str","repeat":"15","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":920,"wires":[["8c1c30a1.59998"]]},{"id":"ed991146.1ea4a","type":"mysql","z":"dbe598e1.59d008","mydb":"b025b22b.5b687","name":"","x":790,"y":920,"wires":[["701c249d.9d471c"]]},{"id":"8c1c30a1.59998","type":"function","z":"dbe598e1.59d008","name":"Set Query","func":"\nvar sql = \"SELECT * FROM alarm\";\n\nmsg.topic = sql;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":920,"wires":[["ed991146.1ea4a"]]},{"id":"701c249d.9d471c","type":"function","z":"dbe598e1.59d008","name":"Trigger Alarm","func":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\nvar dt = new Date(msg.timestamp);\nvar h = dt.getHours();\nvar\tm = dt.getMinutes();\nvar\td = dt.getDay();\n\nif(h >= 23)\n{\n    h = 0;\n    if(d >= 6)d=0;\n    else d++;\n}\nh++;\n\n\nvar offset = global.get(\"timeoffset\");\nif(offset != null)\n{\n    h += offset; \n    h -= 1;\n}\n\nif(h >24)\n{\n    h -= 24;\n    if(d==6)d=0; else d++;\n}\nelse if(h <0)\n{\n    h += 24;\n    if(d==0)d=6; else d--;\n}\n\n\n\n\nvar mytime = h + ':' + m + ':00';\nvar mytime_alt = h + ':' + m;\n\n//mytime = \"21:40:00\";\nvar trigger = -1;\nvar timerc = msg.payload.length;\nvar cd = 0;\n\nfor(var i = 0; i<timerc; i++)\n{\n    cd = CheckDay(d);\n    var time_alt = msg.payload[i].Time.substr(0, 4);\n    if(mytime == msg.payload[i].Time && cd == 1 && msg.payload[i].Enabled == 1)trigger = i;\n    else if(mytime_alt == time_alt && cd == 1 && msg.payload[i].Enabled == 1)trigger = i;\n}\n\nvar msg2;\n\n//msg = {payload: d};\n\nif(trigger == -1)return null;\n//trigger = 0;\n\nmsg2 = {\n\t'Name':\tmsg.payload[trigger].Name,\n\t'Time':\tmsg.payload[trigger].Time,\n\t'ID':\tmsg.payload[trigger].ID,\n\t'Duration': msg.payload[trigger].Duration,\n\t'DeleteTimer': msg.payload[trigger].DeleteTimer,\n\t'day': d,\n\t'mytime': mytime,\n\t'mytime_alt': mytime_alt\n}\n\n\n\nreturn msg2;\n\n\n\n\n\n\n\n\n\nfunction CheckDay(i)\n{\n    var r = 0;\n    if(msg.payload[i].Monday == 1 && d == 1)r=1;\n    if(msg.payload[i].Tuesday == 1 && d == 2)r=1;\n    if(msg.payload[i].Wednesday == 1 && d == 3)r=1;\n    if(msg.payload[i].Thursday == 1 && d == 4)r=1;\n    if(msg.payload[i].Friday == 1 && d == 5)r=1;\n    if(msg.payload[i].Saturday == 1 && d == 6)r=1;\n    if(msg.payload[i].Sunday == 1 && d == 0)r=1;\n    return r;\n}","outputs":1,"noerr":0,"x":960,"y":920,"wires":[["9107dcd7.7a7b3","f7927db7.18848","643e867a.2de188","d0d5ea6d.e69698"]]},{"id":"d9e718d2.d2f008","type":"ui_toast","z":"dbe598e1.59d008","position":"dialog","displayTime":"10","highlight":"","outputs":1,"ok":"STOP ALARM","cancel":"","topic":"","name":"","x":1390,"y":900,"wires":[["986e960d.e53068","9e041f0b.12fed","74e854e0.861ecc"]]},{"id":"9107dcd7.7a7b3","type":"function","z":"dbe598e1.59d008","name":"Format Notification","func":"msg.topic = msg.Name + ' Alarm';\nmsg.payload = msg.Name + ' Alarm triggered at: '+msg.Time;\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":900,"wires":[["d9e718d2.d2f008"]]},{"id":"a42d4634.6e6e68","type":"mqtt out","z":"dbe598e1.59d008","name":"","topic":"clock","qos":"","retain":"","broker":"177ecc54.4cc094","x":1410,"y":940,"wires":[]},{"id":"f7927db7.18848","type":"function","z":"dbe598e1.59d008","name":"Send Alarm Command","func":"var msg = {payload: \"a;!\"};\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":940,"wires":[["a42d4634.6e6e68"]]},{"id":"8252dfeb.62663","type":"mqtt out","z":"dbe598e1.59d008","name":"","topic":"clock","qos":"","retain":"","broker":"177ecc54.4cc094","x":1870,"y":940,"wires":[]},{"id":"986e960d.e53068","type":"function","z":"dbe598e1.59d008","name":"Stop Alarm","func":"var msg = {payload: \"a;c\"};\nreturn msg;","outputs":1,"noerr":0,"x":1630,"y":940,"wires":[["8252dfeb.62663"]]},{"id":"9e041f0b.12fed","type":"function","z":"dbe598e1.59d008","name":"Restore Brightness","func":"var msg = {payload: \"b;50\"};\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":900,"wires":[["8252dfeb.62663"]]},{"id":"ed17c04b.dec5e","type":"function","z":"dbe598e1.59d008","name":"Set Query","func":"\nvar sql = \"SELECT * FROM alarm\";\n\nmsg.topic = sql;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":360,"wires":[["3372e8c2.39edd8"]]},{"id":"3372e8c2.39edd8","type":"mysql","z":"dbe598e1.59d008","mydb":"b025b22b.5b687","name":"","x":710,"y":360,"wires":[["cbd6a4fe.cef598"]]},{"id":"cbd6a4fe.cef598","type":"function","z":"dbe598e1.59d008","name":"Create Table","func":"\nvar mytable = \"<table align=\\\"right\\\"><tr><td>Name<\\/td><td>Time<\\/td><td>Status<\\/td><td>Delete<\\/td><td>View<\\/td><\\/tr>\";\n\nvar timerc = msg.payload.length;\n\n\nfor(var i = 0; i<timerc; i++)\n{\n    mytable += \"<tr><td>\" + msg.payload[i].Name + \"<\\/td><td width=\\\"20%\\\">\" + msg.payload[i].Time + \"<\\/td>\";\n    if(msg.payload[i].Enabled == 0)mytable += \"<td width=\\\"10%\\\"><i class=\\\"fa fa-bell-slash\\\" aria-hidden=\\\"true\\\"><\\/i><\\/td>\";\n    else if(msg.payload[i].Enabled == 1)mytable += \"<td width=\\\"10%\\\"><i class=\\\"fa fa-bell\\\" aria-hidden=\\\"true\\\"><\\/i><\\/td>\";\n    else if(msg.payload[i].Enabled == 2 && msg.payload[i].RepeatTimer == 1)\n    {\n        mytable += \"<td width=\\\"10%\\\"><i class=\\\"fa fa-exclamation-triangle\\\" aria-hidden=\\\"true\\\"><\\/i><\\/td>\";\n        mytable += \"<td colspan=2><md-button ng-click=\\\"send({payload: \\'!\"+ msg.payload[i].ID +\"\\'})\\\"><b>STOP ALARM<\\/b><\\/md-button><\\/td>\";    \n    }\n    else\n    {\n        mytable += \"<td width=\\\"10%\\\"><i class=\\\"fa fa-exclamation-triangle\\\" aria-hidden=\\\"true\\\"><\\/i><\\/td>\";\n        mytable += \"<td colspan=2><md-button ng-click=\\\"send({payload: \\'#\"+ msg.payload[i].ID +\"\\'})\\\"><b>STOP ALARM<\\/b><\\/md-button><\\/td>\";    \n    }\n    if(msg.payload[i].Enabled != 2)\n    {\n    mytable += \"<td width=\\\"10%\\\"><md-button ng-click=\\\"send({payload: \\'d\"+ msg.payload[i].ID +\"\\'})\\\"><i class=\\\"fa fa-trash\\\" aria-hidden=\\\"true\\\"><\\/i><\\/md-button><\\/td>\";    \n    mytable += \"<td width=\\\"10%\\\"><md-button ng-click=\\\"send({payload: \\'s\"+ msg.payload[i].ID +\"\\'})\\\"><i class=\\\"fa fa-eye\\\" aria-hidden=\\\"true\\\"><\\/i><\\/md-button><\\/td>\";\n    }\n    mytable += \"<\\/tr>\"\n}\n\n\nmytable += \"<\\/table>\";\n\n\nvar style = \"<style>  table {      color: #333;      font-family: Helvetica, Arial, sans-serif;      width: 100%;      border-collapse: collapse;      border-spacing: 0;  }  td, th {      border: 1px solid transparent;      /* No more visible border */      height: 30px;      transition: all 0.3s;  }  th {      background: #DFDFDF;      font-weight: bold;  }  td {      background: #FAFAFA;      text-align: left;  }    tr:nth-child(even) td {      background: #F1F1F1;  }      tr:nth-child(odd) td {      background: #FEFEFE;  }  tr td:hover {      background: #666;      color: #FFF;  }  <\\/style>\";\n\nmsg.template = style + mytable;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":360,"wires":[["85f0d1df.76789"]]},{"id":"85f0d1df.76789","type":"ui_template","z":"dbe598e1.59d008","group":"e5edb107.cd901","name":"List Alarms","order":0,"width":"7","height":"8","format":"","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1050,"y":360,"wires":[["bd5263e0.f635","c2cc64bc.07ebf8","bbd86cd5.993f6"]]},{"id":"e0256443.78db68","type":"ui_toast","z":"dbe598e1.59d008","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"Cancel","topic":"","name":"","x":1790,"y":420,"wires":[["fc727f7.0b2e18"]]},{"id":"8ea7a89e.bc4b78","type":"mysql","z":"dbe598e1.59d008","mydb":"b025b22b.5b687","name":"","x":1450,"y":420,"wires":[["c67fbf2b.b69e5"]]},{"id":"bd5263e0.f635","type":"function","z":"dbe598e1.59d008","name":"Get Info of Selected","func":"var value = msg.payload.substr(1);\n\nvar sql = \"SELECT * FROM alarm WHERE ID = \" + value;\nflow.set(\"delID\", value);\nflow.set(\"shoID\", value);\nmsg.topic = sql;\n\nif(msg.payload.charAt(0) == 'd')return [null, msg];\nelse if(msg.payload.charAt(0) == 's')return [msg, null];\nelse return[null, null];","outputs":2,"noerr":0,"x":1260,"y":360,"wires":[["1b3f2f0b.162761"],["8ea7a89e.bc4b78"]]},{"id":"c67fbf2b.b69e5","type":"function","z":"dbe598e1.59d008","name":"Button Text","func":"var Name = msg.payload[0].Name;\nvar Time = msg.payload[0].Time;\n\nmsg.payload = \"Are you sure to delete \"+Name+\"?<br>Alarm Time: \"+Time;\nmsg.topic = \"Delete Alarm\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":420,"wires":[["e0256443.78db68"]]},{"id":"fc727f7.0b2e18","type":"function","z":"dbe598e1.59d008","name":"Delete Element","func":"if(msg.payload != \"OK\")return null;\nmsg.topic = \"DELETE FROM alarm WHERE ID = \"+ flow.get(\"delID\");\nreturn msg;","outputs":1,"noerr":0,"x":1980,"y":420,"wires":[["8832c97d.1df338"]]},{"id":"8832c97d.1df338","type":"mysql","z":"dbe598e1.59d008","mydb":"b025b22b.5b687","name":"","x":2170,"y":420,"wires":[["51717ef4.e0124"]]},{"id":"ef0432e.75cebd","type":"delay","z":"dbe598e1.59d008","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":260,"wires":[["ed17c04b.dec5e"]]},{"id":"ebc5e537.476198","type":"ui_switch","z":"dbe598e1.59d008","name":"","label":"Monday","group":"d1bddc8b.123f","order":2,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":280,"y":460,"wires":[["c60a2807.be9bc8"]]},{"id":"e79e93d7.08a6a","type":"ui_switch","z":"dbe598e1.59d008","name":"","label":"Tuesday","group":"d1bddc8b.123f","order":3,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":280,"y":500,"wires":[["85570761.9f1778"]]},{"id":"3d33b479.f9137c","type":"ui_switch","z":"dbe598e1.59d008","name":"","label":"Wednesday","group":"d1bddc8b.123f","order":4,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":270,"y":540,"wires":[["dbe5d5cf.f8cff8"]]},{"id":"93437e85.26f4a","type":"ui_switch","z":"dbe598e1.59d008","name":"","label":"Thursday","group":"d1bddc8b.123f","order":5,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":280,"y":580,"wires":[["d72162f3.6b32e"]]},{"id":"7abbf256.362f4c","type":"ui_switch","z":"dbe598e1.59d008","name":"","label":"Friday","group":"d1bddc8b.123f","order":6,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":290,"y":620,"wires":[["7766b4e3.dd86ec"]]},{"id":"7aaf4cd4.f9fb34","type":"ui_switch","z":"dbe598e1.59d008","name":"","label":"Saturday","group":"d1bddc8b.123f","order":7,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":280,"y":660,"wires":[["93448022.bbf41"]]},{"id":"5ca09147.7cf73","type":"ui_switch","z":"dbe598e1.59d008","name":"","label":"Sunday","group":"d1bddc8b.123f","order":8,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":280,"y":700,"wires":[["ba60af4f.19d1f"]]},{"id":"29b89f6b.b91b4","type":"ui_switch","z":"dbe598e1.59d008","name":"","label":"Repeat","group":"d1bddc8b.123f","order":9,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":280,"y":740,"wires":[["ffad710a.eea67"]]},{"id":"14674044.6a321","type":"ui_switch","z":"dbe598e1.59d008","name":"","label":"One Time","group":"d1bddc8b.123f","order":10,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":280,"y":820,"wires":[["c46843.27a737c"]]},{"id":"c60a2807.be9bc8","type":"function","z":"dbe598e1.59d008","name":"global","func":"flow.set(\"Mo\", msg.payload);\nreturn null;","outputs":1,"noerr":0,"x":410,"y":460,"wires":[[]]},{"id":"85570761.9f1778","type":"function","z":"dbe598e1.59d008","name":"global","func":"flow.set(\"Tu\", msg.payload);\nreturn null;","outputs":1,"noerr":0,"x":410,"y":500,"wires":[[]]},{"id":"dbe5d5cf.f8cff8","type":"function","z":"dbe598e1.59d008","name":"global","func":"flow.set(\"We\", msg.payload);\nreturn null;","outputs":1,"noerr":0,"x":410,"y":540,"wires":[[]]},{"id":"d72162f3.6b32e","type":"function","z":"dbe598e1.59d008","name":"global","func":"flow.set(\"Th\", msg.payload);\nreturn null;","outputs":1,"noerr":0,"x":410,"y":580,"wires":[[]]},{"id":"7766b4e3.dd86ec","type":"function","z":"dbe598e1.59d008","name":"global","func":"flow.set(\"Fr\", msg.payload);\nreturn null;","outputs":1,"noerr":0,"x":410,"y":620,"wires":[[]]},{"id":"93448022.bbf41","type":"function","z":"dbe598e1.59d008","name":"global","func":"flow.set(\"Sa\", msg.payload);\nreturn null;","outputs":1,"noerr":0,"x":410,"y":660,"wires":[[]]},{"id":"ba60af4f.19d1f","type":"function","z":"dbe598e1.59d008","name":"global","func":"flow.set(\"Su\", msg.payload);\nreturn null;","outputs":1,"noerr":0,"x":410,"y":700,"wires":[[]]},{"id":"643e867a.2de188","type":"function","z":"dbe598e1.59d008","name":"Set active","func":"\nvar sql = \"UPDATE alarm SET Enabled = 2 WHERE ID = \" + msg.ID;\n\nmsg.topic = sql;\nvar msg2 = {payload: msg.ID};\nmsg2.delay = msg.Duration;\n\nreturn [msg2, msg];","outputs":2,"noerr":0,"x":1180,"y":800,"wires":[["b656ac59.c104a"],["39f6d565.04213a"]]},{"id":"39f6d565.04213a","type":"mysql","z":"dbe598e1.59d008","mydb":"b025b22b.5b687","name":"","x":2170,"y":800,"wires":[[]]},{"id":"f046adf3.4ac7a","type":"function","z":"dbe598e1.59d008","name":"Set active","func":"var sql = \"\";\nif(msg.payload[0].RepeatTimer == 1)\nsql = \"UPDATE alarm SET Enabled = 1 WHERE ID = \" + msg.payload[0].ID;\nelse\n{\n    sql = \"UPDATE alarm SET Enabled = 0 WHERE ID = \" + msg.payload[0].ID;\n}\n\nmsg.topic = sql;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":2020,"y":840,"wires":[["39f6d565.04213a"]]},{"id":"61739ef0.05b4f","type":"mysql","z":"dbe598e1.59d008","mydb":"b025b22b.5b687","name":"","x":1830,"y":860,"wires":[["f046adf3.4ac7a","64a98944.22ac38"]]},{"id":"74e854e0.861ecc","type":"function","z":"dbe598e1.59d008","name":"Set Query","func":"\nvar sql = \"SELECT * FROM alarm WHERE ID = \" + msg.ID;\n\nmsg.topic = sql;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1620,"y":860,"wires":[["61739ef0.05b4f"]]},{"id":"6b73bf3.4ba794","type":"ui_toast","z":"dbe598e1.59d008","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"Enable","cancel":"Disable","topic":"","name":"","x":1790,"y":300,"wires":[["940531ff.db1e"]]},{"id":"1b3f2f0b.162761","type":"mysql","z":"dbe598e1.59d008","mydb":"b025b22b.5b687","name":"","x":1450,"y":300,"wires":[["b124e63c.8e31f8"]]},{"id":"b124e63c.8e31f8","type":"function","z":"dbe598e1.59d008","name":"Button Text","func":"var Name = msg.payload[0].Name;\nvar Time = msg.payload[0].Time;\nvar Days = \"\";\nif(msg.payload[0].Monday == 1)Days += \"Monday, \";\nif(msg.payload[0].Tuesday == 1)Days += \"Tuesday, \";\nif(msg.payload[0].Wednesday == 1)Days += \"Wednesday, \";\nif(msg.payload[0].Thursday == 1)Days += \"Thursday, \";\nif(msg.payload[0].Friday == 1)Days += \"Friday, \";\nif(msg.payload[0].Saturday == 1)Days += \"Saturday, \";\nif(msg.payload[0].Sunday == 1)Days += \"Sunday, \";\n\nvar active = \"\";\nvar deleteafter = \"no\";\nvar repeat = \"no\";\nvar duration = msg.payload[0].Duration /60000 + \" Minutes\";\n\nif(msg.payload[0].DeleteTimer == 1)deleteafter = \"yes\";\nif(msg.payload[0].RepeatTimer == 1)repeat = \"yes\";\n\nif(msg.payload[0].Enabled == 0)active = \"Alarm disabled\";\nif(msg.payload[0].Enabled == 1)active = \"Alarm enabled\";\nif(msg.payload[0].Enabled == 2)active = \"Alarm active\";\n\nmsg.payload = \"Name: \"+Name+\"<br>Alarm Time: \"+Time + \"<br>ID: \" + msg.payload[0].ID + \"<br>Status: \" + active;\nmsg.payload += \"<br>Enabled Days: \"+Days+\"<br>Repeat Timer: \" + repeat + \"<br>One-Time Timer: \" + deleteafter + \"<br>Duration: \" + duration;\n\nmsg.topic = \"Alarm Info\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":300,"wires":[["6b73bf3.4ba794"]]},{"id":"940531ff.db1e","type":"function","z":"dbe598e1.59d008","name":"Set active","func":"var sql = \"\";\nif(msg.payload == \"Enable\")\nsql = \"UPDATE alarm SET Enabled = 1 WHERE ID = \" + flow.get(\"shoID\");\nelse\n{\n    sql = \"UPDATE alarm SET Enabled = 0 WHERE ID = \" + flow.get(\"shoID\");\n}\n\nmsg.topic = sql;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1960,"y":300,"wires":[["71158368.9c9b0c"]]},{"id":"71158368.9c9b0c","type":"mysql","z":"dbe598e1.59d008","mydb":"b025b22b.5b687","name":"","x":2170,"y":300,"wires":[["51717ef4.e0124"]]},{"id":"51717ef4.e0124","type":"link out","z":"dbe598e1.59d008","name":"","links":["dcef8200.c4836","7d798016.e64bc"],"x":2295,"y":360,"wires":[]},{"id":"dcef8200.c4836","type":"link in","z":"dbe598e1.59d008","name":"Refresh","links":["51717ef4.e0124","ff9bf680.32b7e8","d0def39a.5636a","68dfd906.291d18","c1115c1a.1ae2f","ab55fe6a.57f92","f18a4758.4dfc88","d0d5ea6d.e69698"],"x":315,"y":360,"wires":[["ed17c04b.dec5e"]]},{"id":"ffad710a.eea67","type":"function","z":"dbe598e1.59d008","name":"global","func":"flow.set(\"repeat\", msg.payload);\nif(msg.payload == 0)return null;\nelse {\nvar msg = {payload: 0};\nreturn msg;\n}","outputs":1,"noerr":0,"x":410,"y":740,"wires":[["14674044.6a321"]]},{"id":"c46843.27a737c","type":"function","z":"dbe598e1.59d008","name":"global","func":"flow.set(\"delete\", msg.payload);\nif(msg.payload == 0)return null;\nelse {\nvar msg = {payload: 0};\nreturn msg;\n}","outputs":1,"noerr":0,"x":410,"y":820,"wires":[["29b89f6b.b91b4"]]},{"id":"64a98944.22ac38","type":"function","z":"dbe598e1.59d008","name":"Disable Timer ","func":"if(msg.payload[0].DeleteTimer == 1)msg.payload = msg.payload[0].ID;else msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":2040,"y":880,"wires":[["29519213.97c66e","94fb1c85.a8c93","b0598fed.5207e"]]},{"id":"b656ac59.c104a","type":"delay","z":"dbe598e1.59d008","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1380,"y":680,"wires":[["4a1aa661.299ac8","f43d248.d84a0d8","bf0dc409.9b7ff8"]]},{"id":"f43d248.d84a0d8","type":"function","z":"dbe598e1.59d008","name":"Stop Alarm","func":"var msg = {payload: \"a;c\"};\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":720,"wires":[["87d48f86.0b7de"]]},{"id":"87d48f86.0b7de","type":"mqtt out","z":"dbe598e1.59d008","name":"","topic":"clock","qos":"","retain":"","broker":"177ecc54.4cc094","x":1750,"y":700,"wires":[]},{"id":"4a1aa661.299ac8","type":"function","z":"dbe598e1.59d008","name":"Restore Brightness","func":"var msg = {payload: \"b;50\"};\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":680,"wires":[["87d48f86.0b7de"]]},{"id":"69dabfca.e4862","type":"mysql","z":"dbe598e1.59d008","mydb":"b025b22b.5b687","name":"","x":2510,"y":900,"wires":[["ff9bf680.32b7e8"]]},{"id":"29519213.97c66e","type":"function","z":"dbe598e1.59d008","name":"Delete Element","func":"msg.topic = \"DELETE FROM alarm WHERE ID = \\'\"+ msg.payload + \"\\'\";\nreturn msg;","outputs":1,"noerr":0,"x":2340,"y":900,"wires":[["69dabfca.e4862"]]},{"id":"ff9bf680.32b7e8","type":"link out","z":"dbe598e1.59d008","name":"","links":["dcef8200.c4836","7d798016.e64bc"],"x":2615,"y":900,"wires":[]},{"id":"ab55fe6a.57f92","type":"link out","z":"dbe598e1.59d008","name":"","links":["dcef8200.c4836","7d798016.e64bc"],"x":1835,"y":640,"wires":[]},{"id":"6c4f5a8c.7f2f94","type":"mysql","z":"dbe598e1.59d008","mydb":"b025b22b.5b687","name":"","x":1750,"y":640,"wires":[["ab55fe6a.57f92"]]},{"id":"bf0dc409.9b7ff8","type":"function","z":"dbe598e1.59d008","name":"Delete Element","func":"msg.topic = \"DELETE FROM alarm WHERE ID = \"+ msg.payload;\nif(msg.DeleteTimer == 0)return null;\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":640,"wires":[["6c4f5a8c.7f2f94"]]},{"id":"94fb1c85.a8c93","type":"function","z":"dbe598e1.59d008","name":"Restore Brightness","func":"var msg = {payload: \"b;50\"};\nreturn msg;","outputs":1,"noerr":0,"x":2350,"y":860,"wires":[["4d969a8d.3a07f4"]]},{"id":"b0598fed.5207e","type":"function","z":"dbe598e1.59d008","name":"Delete Element","func":"msg.topic = \"DELETE FROM alarm WHERE ID = \"+ msg.payload;\nif(msg.DeleteTimer == 0)return null;\nreturn msg;","outputs":1,"noerr":0,"x":2340,"y":820,"wires":[["4d969a8d.3a07f4"]]},{"id":"4d969a8d.3a07f4","type":"mqtt out","z":"dbe598e1.59d008","name":"","topic":"clock","qos":"","retain":"","broker":"177ecc54.4cc094","x":2570,"y":820,"wires":[]},{"id":"93372a0a.fd1f38","type":"debug","z":"dbe598e1.59d008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":830,"y":160,"wires":[]},{"id":"781b032f.cc1f2c","type":"openweathermap in","z":"e9ca6212.e667e","name":"Weather Rottenegg","wtype":"current","lon":"","lat":"","city":"Walding","country":"Austria","language":"de","x":230,"y":160,"wires":[["2fee60e0.32331","fd90d3fe.b5919"]]},{"id":"3e1347f4.fda558","type":"ui_gauge","z":"e9ca6212.e667e","name":"Weather","group":"59a42774.8feac8","order":1,"width":"8","height":"3","gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"-10","max":"50","colors":["#0d9ca8","#e6e600","#cd3434"],"seg1":"","seg2":"","x":660,"y":200,"wires":[]},{"id":"2fee60e0.32331","type":"function","z":"e9ca6212.e667e","name":"Get Temp","func":"result = msg.payload.tempc;\n\nglobal.set(\"temperature\", result);\nflow.set(\"temp\", result);\nvar msg = {payload: result};\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":160,"wires":[["3e1347f4.fda558","4358e572.78c24c"]]},{"id":"28d79646.d2eb9a","type":"ui_chart","z":"e9ca6212.e667e","name":"Temp chart","group":"59a42774.8feac8","order":3,"width":"8","height":"5","label":"Temperature","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"5","ymax":"35","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":850,"y":160,"wires":[[],[]]},{"id":"fd90d3fe.b5919","type":"function","z":"e9ca6212.e667e","name":"Get Clouds","func":"result = msg.payload.clouds;\n\ncontext.set(\"clouds\", result);\n\nvar msg = {payload: result};\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["8f667480.689ed8","1f5ea15a.c9f35f"]]},{"id":"8f667480.689ed8","type":"ui_gauge","z":"e9ca6212.e667e","name":"Clouds","group":"59a42774.8feac8","order":2,"width":"8","height":"3","gtype":"gage","title":"Clouds","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#0d9ca8","#e6e600","#cd3434"],"seg1":"","seg2":"","x":650,"y":300,"wires":[]},{"id":"2094811c.01b27e","type":"ui_chart","z":"e9ca6212.e667e","name":"Clouds chart","group":"59a42774.8feac8","order":4,"width":"8","height":"5","label":"Clouds","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":850,"y":260,"wires":[[],[]]},{"id":"1f5ea15a.c9f35f","type":"delay","z":"e9ca6212.e667e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":260,"wires":[["2094811c.01b27e"]]},{"id":"4358e572.78c24c","type":"delay","z":"e9ca6212.e667e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":160,"wires":[["28d79646.d2eb9a"]]},{"id":"cab408b1.9bd738","type":"inject","z":"f2d640cc.d0654","name":"Update Time: 12:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"x":600,"y":160,"wires":[["8836f414.a8bcc8"]]},{"id":"db9d9bae.b26a58","type":"ui_button","z":"f2d640cc.d0654","name":"Manual Update","group":"6297ee08.0654e","order":1,"width":0,"height":0,"passthru":false,"label":"Clock","color":"","bgcolor":"","icon":"","payload":"a;c","payloadType":"str","topic":"","x":620,"y":240,"wires":[["d3c341c0.96d63","8836f414.a8bcc8"]]},{"id":"1df27a7c.65f146","type":"ui_button","z":"f2d640cc.d0654","name":"Activate Alarm","group":"6297ee08.0654e","order":2,"width":0,"height":0,"passthru":false,"label":"Alarm","color":"","bgcolor":"","icon":"","payload":"a;!","payloadType":"str","topic":"","x":620,"y":280,"wires":[["d3c341c0.96d63","8836f414.a8bcc8"]]},{"id":"9058f05f.43396","type":"ui_slider","z":"f2d640cc.d0654","name":"Brightness","label":"","group":"7dec971a.70dfb8","order":1,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"255","step":1,"x":410,"y":440,"wires":[["81efa3a0.5a866","f3dd80c2.8be39"]]},{"id":"81efa3a0.5a866","type":"function","z":"f2d640cc.d0654","name":"Set Brightness","func":"var x = msg.payload; // get value\nif(msg.payload == \"a;0\")x = \"0\";\nx = \"b;\" + x;\nmsg = {payload: x}; // set msg\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":400,"wires":[["d3c341c0.96d63"]]},{"id":"3702eb72.c552f4","type":"mqtt out","z":"f2d640cc.d0654","name":"","topic":"clock","qos":"","retain":"","broker":"ef66be57.7092","x":1070,"y":860,"wires":[]},{"id":"d3c341c0.96d63","type":"mqtt out","z":"f2d640cc.d0654","name":"","topic":"clock","qos":"","retain":"","broker":"ef66be57.7092","x":1090,"y":340,"wires":[]},{"id":"67ae9d3c.4c8f74","type":"ui_switch","z":"f2d640cc.d0654","name":"","label":"Dot 1","group":"a626978f.861c98","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"i;1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"i;0","offvalueType":"str","officon":"","offcolor":"","x":710,"y":820,"wires":[["3702eb72.c552f4"]]},{"id":"af7114e7.e0c268","type":"ui_switch","z":"f2d640cc.d0654","name":"","label":"Dot 2","group":"a626978f.861c98","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"i;3","onvalueType":"str","onicon":"","oncolor":"","offvalue":"i;2","offvalueType":"str","officon":"","offcolor":"","x":710,"y":860,"wires":[["3702eb72.c552f4"]]},{"id":"1c7904d0.1b9e3b","type":"ui_text_input","z":"f2d640cc.d0654","name":"","label":"Time","group":"bf354e09.748f1","order":0,"width":"0","height":"0","passthru":false,"mode":"time","delay":"100","topic":"","x":550,"y":1200,"wires":[["e96f3eb8.aa6e4"]]},{"id":"201a0725.6c0628","type":"ui_button","z":"f2d640cc.d0654","name":"","group":"bf354e09.748f1","order":0,"width":0,"height":0,"passthru":false,"label":"Start Timer","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":530,"y":1240,"wires":[["dfe90b77.fa6358","e91c4f6c.752cf"]]},{"id":"e96f3eb8.aa6e4","type":"function","z":"f2d640cc.d0654","name":"Set Timer","func":"var timerval = msg.payload;\n\n\nflow.set(\"timervalue\", (msg.payload/1000));\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1200,"wires":[[]]},{"id":"8b2e4ce1.a2169","type":"mqtt out","z":"f2d640cc.d0654","name":"","topic":"clock","qos":"","retain":"","broker":"ef66be57.7092","x":910,"y":1260,"wires":[]},{"id":"dfe90b77.fa6358","type":"function","z":"f2d640cc.d0654","name":"Set Dots","func":"var x = \"d;1;1\";\nmsg = {payload: x}; // set msg\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1240,"wires":[["8b2e4ce1.a2169"]]},{"id":"bc5e25aa.d45b38","type":"ui_numeric","z":"f2d640cc.d0654","name":"","label":"Digit 1","group":"a626978f.861c98","order":3,"width":"4","height":"1","passthru":true,"topic":"","format":"{{value}}","min":"-1","max":"9","step":1,"x":550,"y":1380,"wires":[["5c846b25.9bedd4"]]},{"id":"6f0750d7.2e101","type":"ui_numeric","z":"f2d640cc.d0654","name":"","label":"Digit 2","group":"a626978f.861c98","order":4,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"-1","max":"9","step":1,"x":550,"y":1420,"wires":[["da067436.65ac88"]]},{"id":"caeb2604.b40598","type":"ui_numeric","z":"f2d640cc.d0654","name":"","label":"Digit 3","group":"a626978f.861c98","order":5,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"-1","max":"9","step":1,"x":550,"y":1460,"wires":[["24f28c4a.088304"]]},{"id":"6628e1c6.45dd4","type":"ui_numeric","z":"f2d640cc.d0654","name":"","label":"Digit 4","group":"a626978f.861c98","order":6,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"-1","max":"9","step":1,"x":550,"y":1500,"wires":[["4cdaf8b.317a708"]]},{"id":"31867ccb.7fd354","type":"ui_button","z":"f2d640cc.d0654","name":"","group":"a626978f.861c98","order":7,"width":0,"height":0,"passthru":false,"label":"Set Values","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":530,"y":1600,"wires":[["86b7a8ba.728868"]]},{"id":"5c846b25.9bedd4","type":"function","z":"f2d640cc.d0654","name":"Digit 1","func":"var d1 = msg.payload;\nif(d1 == -1)d1 = \"x\";\nflow.set(\"digit1\", d1);\n\nmsg = {payload: d1};\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1380,"wires":[[]]},{"id":"da067436.65ac88","type":"function","z":"f2d640cc.d0654","name":"Digit 2","func":"var d2 = msg.payload;\nif(d2 == -1)d2 = \"x\";\nflow.set(\"digit2\", d2);\n\nmsg = {payload: d2};\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1420,"wires":[[]]},{"id":"24f28c4a.088304","type":"function","z":"f2d640cc.d0654","name":"Digit 3","func":"var d3 = msg.payload;\nif(d3 == -1)d3 = \"x\";\nflow.set(\"digit3\", d3);\n\nmsg = {payload: d3};\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1460,"wires":[[]]},{"id":"4cdaf8b.317a708","type":"function","z":"f2d640cc.d0654","name":"Digit 4","func":"var d4 = msg.payload;\nif(d4 == -1)d4 = \"x\";\nflow.set(\"digit4\", d4);\n\nmsg = {payload: d4};\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1500,"wires":[[]]},{"id":"86b7a8ba.728868","type":"function","z":"f2d640cc.d0654","name":"Format","func":"var d1 = flow.get(\"digit1\");\nvar d2 = flow.get(\"digit2\");\nvar d3 = flow.get(\"digit3\");\nvar d4 = flow.get(\"digit4\");\n\nresult = \"z;\" + d1 + \";\" + d2 + \";\" + d3 + \";\" + d4;\n\n\nmsg = {payload: result};\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1600,"wires":[["f651d715.7f7388"]]},{"id":"f651d715.7f7388","type":"mqtt out","z":"f2d640cc.d0654","name":"","topic":"clock","qos":"","retain":"","broker":"ef66be57.7092","x":910,"y":1600,"wires":[]},{"id":"aa5ee588.4eef68","type":"ui_button","z":"f2d640cc.d0654","name":"Weather","group":"6297ee08.0654e","order":3,"width":0,"height":0,"passthru":false,"label":"Weather","color":"","bgcolor":"","icon":"","payload":"5","payloadType":"str","topic":"","x":420,"y":400,"wires":[["adc58df4.ee1c7"]]},{"id":"adc58df4.ee1c7","type":"function","z":"f2d640cc.d0654","name":"Display weather","func":"var x = \"w\";\nvar vz = '+';\n\nvar pay = msg.payload;\n\nvar temp = global.get(\"temperature\");\nvar temp2 = parseInt(temp);\n\n\nvar t1 = 0;\nvar t2 = 0;\n\nt2 = temp2 %10; \nt1 = parseInt((temp2/10)%10); \n\n\n\nif(temp2 < 0)\n{\n    vz = '-';\n    if(temp2 >= -9)\n    {\n        //t2 = temp.charAt(1);\n        t2 = temp2 %10;\n        t1 = 0;\n    }\n    else\n    {\n        //t2 = temp.charAt(2);\n        t2 = temp2 %10;\n        //t1 = temp.charAt(1);\n        t1 = parseInt((temp2/10)%10); \n    }\n}\nelse if(temp2 <= 9)\n{\n    //t2 = temp.charAt(0);\n    t2 = temp2 %10;\n    t1 = 0;\n}\nelse\n{\n    //t2 = temp.charAt(1);\n    t2 = temp2 %10;\n    //t1 = temp.charAt(0);\n    t1 = parseInt((temp2/10)%10); \n}\n\nx = x + \";\";\nx = x + t1;\nx = x + \";\";\nx = x + t2;\nx = x + \";\";\nx = x + vz;\nx = x + \";\";\nx = x + \"1;0\";\n\nvar state = flow.get(\"w\");\n\nif(state == \"0\" && pay == false)return null;\nmsg = {payload: x}; // set msg\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":360,"wires":[["d3c341c0.96d63"]]},{"id":"83a12102.5d786","type":"inject","z":"f2d640cc.d0654","name":"Push Weather Interval","topic":"","payload":"false","payloadType":"bool","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":360,"wires":[["adc58df4.ee1c7"]]},{"id":"d68dadf5.070de","type":"ui_text","z":"f2d640cc.d0654","group":"7dec971a.70dfb8","order":2,"width":0,"height":0,"name":"","label":"Brightness: ","format":"{{msg.payload}}","layout":"row-left","x":870,"y":460,"wires":[]},{"id":"f3dd80c2.8be39","type":"function","z":"f2d640cc.d0654","name":"Get Percent","func":"var x = msg.payload; // get value\nif(msg.payload == \"a;0\")x = \"0\";\nvar percent = parseInt(x);\npercent = (percent/255)*100;\npercent = parseInt(percent);\nx = percent + \"%\";\nmsg = {payload: x}; // set msg\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":440,"wires":[["d68dadf5.070de"]]},{"id":"b0bfda0a.934fb8","type":"ui_switch","z":"f2d640cc.d0654","name":"","label":"Eneable Weather","group":"962631.ee4ab9d","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1430,"y":100,"wires":[["1869ab37.9d5d05"]]},{"id":"1869ab37.9d5d05","type":"function","z":"f2d640cc.d0654","name":"Push Weather","func":"var x = msg.payload; // get value\nflow.set(\"w\", x);\n\nreturn msg;","outputs":1,"noerr":0,"x":1660,"y":100,"wires":[[]]},{"id":"259cb17f.21d5ee","type":"ui_button","z":"f2d640cc.d0654","name":"Default","group":"6297ee08.0654e","order":4,"width":0,"height":0,"passthru":true,"label":"Default Colors","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1360,"y":480,"wires":[["11ffd167.b832af","899c1d3a.99daf","140b9673.ca9e5a","6e9feabe.7dbc84","6e6cd61e.b92ec8","4cadcdfe.5b1624"]]},{"id":"6e9feabe.7dbc84","type":"function","z":"f2d640cc.d0654","name":"weather on","func":"var x = msg.payload; // get value\nflow.set(\"w\", 1);\n\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":480,"wires":[[]]},{"id":"140b9673.ca9e5a","type":"function","z":"f2d640cc.d0654","name":"Mode Clock","func":"\nvar x = \"a;c\";\nmsg = {payload: x}; // set msg\nreturn msg;","outputs":1,"noerr":0,"x":1569,"y":520,"wires":[["990b47c3.360068"]]},{"id":"11ffd167.b832af","type":"function","z":"f2d640cc.d0654","name":"Set Brightness","func":"\nvar x = \"b;60\";\nmsg = {payload: x}; // set msg\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":560,"wires":[["990b47c3.360068"]]},{"id":"899c1d3a.99daf","type":"function","z":"f2d640cc.d0654","name":"Set Dots","func":"var x = \"d;1;1\";\nmsg = {payload: x}; // set msg\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":600,"wires":[["990b47c3.360068"]]},{"id":"990b47c3.360068","type":"mqtt out","z":"f2d640cc.d0654","name":"","topic":"clock","qos":"","retain":"","broker":"ef66be57.7092","x":1810,"y":520,"wires":[]},{"id":"1761f3c7.97c06c","type":"ui_button","z":"f2d640cc.d0654","name":"Night","group":"6297ee08.0654e","order":5,"width":0,"height":0,"passthru":false,"label":"Night Mode","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1370,"y":200,"wires":[["544b33ac.3dd5dc","fc43a1f3.6bbd9","b3dd02ae.d9a81","249df73a.d00458","30f2afae.9d8a5","3473faeb.1a6bd6"]]},{"id":"249df73a.d00458","type":"function","z":"f2d640cc.d0654","name":"weather off","func":"var x = msg.payload; // get value\nflow.set(\"w\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":200,"wires":[[]]},{"id":"b3dd02ae.d9a81","type":"function","z":"f2d640cc.d0654","name":"Mode Clock","func":"\nvar x = \"a;c\";\nmsg = {payload: x}; // set msg\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":240,"wires":[["8c5db4c.4f46d48"]]},{"id":"544b33ac.3dd5dc","type":"function","z":"f2d640cc.d0654","name":"Set Brightness","func":"\nvar x = \"b;2\";\nmsg = {payload: x}; // set msg\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":280,"wires":[["8c5db4c.4f46d48"]]},{"id":"fc43a1f3.6bbd9","type":"function","z":"f2d640cc.d0654","name":"Set Dots","func":"var x = \"d;1;1\";\nmsg = {payload: x}; // set msg\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":320,"wires":[["8c5db4c.4f46d48"]]},{"id":"8c5db4c.4f46d48","type":"mqtt out","z":"f2d640cc.d0654","name":"","topic":"clock","qos":"","retain":"","broker":"ef66be57.7092","x":1810,"y":240,"wires":[]},{"id":"87e552fc.6480b","type":"inject","z":"f2d640cc.d0654","name":"Update Time: 18:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":0.1,"x":600,"y":200,"wires":[["8836f414.a8bcc8"]]},{"id":"2a91d0c2.4c2e4","type":"inject","z":"f2d640cc.d0654","name":"Update Time:  06:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"x":600,"y":120,"wires":[["8836f414.a8bcc8"]]},{"id":"c5a72335.bff43","type":"inject","z":"f2d640cc.d0654","name":"Update Time: 00:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":600,"y":80,"wires":[["8836f414.a8bcc8"]]},{"id":"9144820a.29c45","type":"function","z":"f2d640cc.d0654","name":"Set Digits","func":"function hexToRgb(hex) {\n    var bigint = parseInt(hex, 16);\n    var r = (bigint >> 16) & 255;\n    var g = (bigint >> 8) & 255;\n    var b = bigint & 255;\n\n    return r + \";\" + g + \";\" + b;\n}\n\n\n\nvar x = msg.payload; // get value\nvar x2 = x.substr(1,6);\nvar rgb =  hexToRgb(x2);\n\nx = \"g;\" + rgb;\nx = x + ';';\nx = x + rgb;\nx = x + ';';\nx = x + rgb;\nx = x + ';';\nx = x + rgb;\n\nmsg = {payload: x}; // set msg\n\nglobal.set(\"rgb\", rgb);\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1640,"wires":[["f651d715.7f7388"]]},{"id":"1b405c9c.f42463","type":"function","z":"f2d640cc.d0654","name":"Set Dots","func":"function hexToRgb(hex) {\n    var bigint = parseInt(hex, 16);\n    var r = (bigint >> 16) & 255;\n    var g = (bigint >> 8) & 255;\n    var b = bigint & 255;\n\n    return r + \";\" + g + \";\" + b;\n}\n\n\n\nvar x = msg.payload; // get value\nvar x2 = x.substr(1,6);\nvar rgb =  hexToRgb(x2);\n\nx = \"e;\" + rgb;\nx = x + ';';\nx = x + rgb;\n\nmsg = {payload: x}; // set msg\n\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1680,"wires":[["f651d715.7f7388"]]},{"id":"a05c465e.ff7df8","type":"ui_text_input","z":"f2d640cc.d0654","name":"","label":"","group":"962631.ee4ab9d","order":6,"width":"0","height":"0","passthru":true,"mode":"color","delay":"100","topic":"","x":530,"y":1640,"wires":[["9144820a.29c45","1b405c9c.f42463","f1056725.b04c58"]]},{"id":"f1056725.b04c58","type":"ui_text","z":"f2d640cc.d0654","group":"962631.ee4ab9d","order":5,"width":0,"height":0,"name":"","label":"Default Color: ","format":"{{msg.payload}}","layout":"row-left","x":720,"y":1720,"wires":[]},{"id":"4cadcdfe.5b1624","type":"function","z":"f2d640cc.d0654","name":"Set Digit Colors","func":"var x = \"g;\";\n\nvar rgb = global.get(\"rgb\");\n\nx = \"g;\" + rgb;\nx = x + ';';\nx = x + rgb;\nx = x + ';';\nx = x + rgb;\nx = x + ';';\nx = x + rgb;\n\n\nmsg = {payload: x}; // set msg\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":680,"wires":[["990b47c3.360068"]]},{"id":"6e6cd61e.b92ec8","type":"function","z":"f2d640cc.d0654","name":"Set Dot Colors","func":"var x = \"e;\";\nvar rgb = global.get(\"rgb\");\nx = x + rgb + \";\" + rgb;\nmsg = {payload: x}; // set msg\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":640,"wires":[["990b47c3.360068"]]},{"id":"30f2afae.9d8a5","type":"function","z":"f2d640cc.d0654","name":"Set Digit Colors","func":"var x = \"g;\";\n\nvar rgb = global.get(\"rgb\");\n\nx = \"g;\" + rgb;\nx = x + ';';\nx = x + rgb;\nx = x + ';';\nx = x + rgb;\nx = x + ';';\nx = x + rgb;\n\n\nmsg = {payload: x}; // set msg\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":400,"wires":[["8c5db4c.4f46d48"]]},{"id":"3473faeb.1a6bd6","type":"function","z":"f2d640cc.d0654","name":"Set Dot Colors","func":"var x = \"e;\";\nvar rgb = global.get(\"rgb\");\nx = x + rgb + \";\" + rgb;\nmsg = {payload: x}; // set msg\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":360,"wires":[["8c5db4c.4f46d48"]]},{"id":"8ec9bbaa.399418","type":"function","z":"f2d640cc.d0654","name":"Set Dots","func":"function hexToRgb(hex) {\n    var bigint = parseInt(hex, 16);\n    var r = (bigint >> 16) & 255;\n    var g = (bigint >> 8) & 255;\n    var b = bigint & 255;\n\n    return r + \";\" + g + \";\" + b;\n}\n\nflow.set(\"s5\",msg.payload);\n\nvar x = msg.payload; // get value\nvar x2 = x.substr(1,6);\nvar rgb =  hexToRgb(x2);\n\nx = \"h;1;\" + rgb;\nflow.set(\"d5\", x);\nmsg = {payload: x}; // set msg\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":740,"wires":[["3702eb72.c552f4","1c223acb.258035"]]},{"id":"9b86f480.053b48","type":"ui_text_input","z":"f2d640cc.d0654","name":"Dot 1","label":"","group":"7dec971a.70dfb8","order":11,"width":"3","height":"1","passthru":true,"mode":"color","delay":"100","topic":"","x":710,"y":740,"wires":[["8ec9bbaa.399418"]]},{"id":"de10cbda.4d4358","type":"ui_text_input","z":"f2d640cc.d0654","name":"Dot 2","label":"","group":"7dec971a.70dfb8","order":12,"width":"3","height":"1","passthru":true,"mode":"color","delay":"100","topic":"","x":710,"y":780,"wires":[["79f4cf94.1dd62"]]},{"id":"79f4cf94.1dd62","type":"function","z":"f2d640cc.d0654","name":"Set Dots","func":"function hexToRgb(hex) {\n    var bigint = parseInt(hex, 16);\n    var r = (bigint >> 16) & 255;\n    var g = (bigint >> 8) & 255;\n    var b = bigint & 255;\n\n    return r + \";\" + g + \";\" + b;\n}\n\nflow.set(\"s6\",msg.payload);\n\nvar x = msg.payload; // get value\nvar x2 = x.substr(1,6);\nvar rgb =  hexToRgb(x2);\n\nx = \"h;2;\" + rgb;\nflow.set(\"d6\", x);\nmsg = {payload: x}; // set msg\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":780,"wires":[["3702eb72.c552f4","1c223acb.258035"]]},{"id":"8ae51e5a.6fa16","type":"function","z":"f2d640cc.d0654","name":"Set Dots","func":"function hexToRgb(hex) {\n    var bigint = parseInt(hex, 16);\n    var r = (bigint >> 16) & 255;\n    var g = (bigint >> 8) & 255;\n    var b = bigint & 255;\n\n    return r + \";\" + g + \";\" + b;\n}\n\nflow.set(\"s3\",msg.payload);\n\nvar x = msg.payload; // get value\nvar x2 = x.substr(1,6);\nvar rgb =  hexToRgb(x2);\n\nx = \"f;3;\"+ rgb;\nflow.set(\"d3\", x);\nmsg = {payload: x}; // set msg\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":660,"wires":[["3702eb72.c552f4","1c223acb.258035"]]},{"id":"c500bfd.0fc794","type":"ui_text_input","z":"f2d640cc.d0654","name":"Digit 3","label":"","group":"7dec971a.70dfb8","order":9,"width":"3","height":"1","passthru":true,"mode":"color","delay":"100","topic":"","x":710,"y":660,"wires":[["8ae51e5a.6fa16"]]},{"id":"3fbe1c4f.fc9dd4","type":"ui_text_input","z":"f2d640cc.d0654","name":"Digit 4","label":"","group":"7dec971a.70dfb8","order":10,"width":"3","height":"1","passthru":true,"mode":"color","delay":"100","topic":"","x":710,"y":700,"wires":[["f55ec77a.00d798"]]},{"id":"f55ec77a.00d798","type":"function","z":"f2d640cc.d0654","name":"Set Dots","func":"function hexToRgb(hex) {\n    var bigint = parseInt(hex, 16);\n    var r = (bigint >> 16) & 255;\n    var g = (bigint >> 8) & 255;\n    var b = bigint & 255;\n\n    return r + \";\" + g + \";\" + b;\n}\n\nflow.set(\"s4\",msg.payload);\n\nvar x = msg.payload; // get value\nvar x2 = x.substr(1,6);\nvar rgb =  hexToRgb(x2);\n\nx = \"f;4;\" + rgb;\nflow.set(\"d4\", x);\nmsg = {payload: x}; // set msg\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":861,"y":700,"wires":[["3702eb72.c552f4","1c223acb.258035"]]},{"id":"36ce1b2c.8c26d4","type":"function","z":"f2d640cc.d0654","name":"Set Dots","func":"function hexToRgb(hex) {\n    var bigint = parseInt(hex, 16);\n    var r = (bigint >> 16) & 255;\n    var g = (bigint >> 8) & 255;\n    var b = bigint & 255;\n\n    return r + \";\" + g + \";\" + b;\n}\n\n\n\nvar x = msg.payload; // get value\nvar x2 = x.substr(1,6);\nvar rgb =  hexToRgb(x2);\nflow.set(\"s1\",msg.payload);\nx = \"f;1;\" + rgb;\nflow.set(\"d1\", x);\nmsg = {payload: x}; // set msg\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":580,"wires":[["3702eb72.c552f4","1c223acb.258035"]]},{"id":"63e96ac3.ca91e4","type":"ui_text_input","z":"f2d640cc.d0654","name":"Digit1","label":"","group":"7dec971a.70dfb8","order":5,"width":"3","height":"1","passthru":true,"mode":"color","delay":"100","topic":"","x":710,"y":580,"wires":[["36ce1b2c.8c26d4"]]},{"id":"6f5b8d8d.899104","type":"ui_text_input","z":"f2d640cc.d0654","name":"Digit 2","label":"","group":"7dec971a.70dfb8","order":6,"width":"3","height":"1","passthru":true,"mode":"color","delay":"100","topic":"","x":710,"y":620,"wires":[["e8cc1b46.d2f288"]]},{"id":"e8cc1b46.d2f288","type":"function","z":"f2d640cc.d0654","name":"Set Dots","func":"function hexToRgb(hex) {\n    var bigint = parseInt(hex, 16);\n    var r = (bigint >> 16) & 255;\n    var g = (bigint >> 8) & 255;\n    var b = bigint & 255;\n\n    return r + \";\" + g + \";\" + b;\n}\n\nflow.set(\"s2\",msg.payload);\n\nvar x = msg.payload; // get value\nvar x2 = x.substr(1,6);\nvar rgb =  hexToRgb(x2);\n\nx = \"f;2;\" + rgb;\nflow.set(\"d2\", x);\nmsg = {payload: x}; // set msg\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":620,"wires":[["3702eb72.c552f4","1c223acb.258035"]]},{"id":"d49bf5fd.2045c8","type":"ui_button","z":"f2d640cc.d0654","name":"","group":"7dec971a.70dfb8","order":13,"width":"6","height":"1","passthru":false,"label":"Set Custom Colors","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":490,"y":940,"wires":[["7c33189b.a85bd8","b4353409.6ce9b8","9053ed4e.1ccb6","d17adddf.bc1fd","40028e06.3d1f9","2769e2.0622a61e"]]},{"id":"7c33189b.a85bd8","type":"function","z":"f2d640cc.d0654","name":"Set Color","func":"var x = flow.get(\"d1\");\n\nvar msg = {payload: x};\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":940,"wires":[["1aa96d4e.5c11e3"]]},{"id":"b4353409.6ce9b8","type":"function","z":"f2d640cc.d0654","name":"Set Color","func":"var x = flow.get(\"d2\");\n\nvar msg = {payload: x};\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":980,"wires":[["1aa96d4e.5c11e3"]]},{"id":"9053ed4e.1ccb6","type":"function","z":"f2d640cc.d0654","name":"Set Color","func":"var x = flow.get(\"d3\");\n\nvar msg = {payload: x};\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1020,"wires":[["1aa96d4e.5c11e3"]]},{"id":"d17adddf.bc1fd","type":"function","z":"f2d640cc.d0654","name":"Set Color","func":"var x = flow.get(\"d4\");\n\nvar msg = {payload: x};\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1060,"wires":[["1aa96d4e.5c11e3"]]},{"id":"40028e06.3d1f9","type":"function","z":"f2d640cc.d0654","name":"Set Color","func":"var x = flow.get(\"d5\");\n\nvar msg = {payload: x};\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1100,"wires":[["1aa96d4e.5c11e3"]]},{"id":"2769e2.0622a61e","type":"function","z":"f2d640cc.d0654","name":"Set Color","func":"var x = flow.get(\"d6\");\n\nvar msg = {payload: x};\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1140,"wires":[["1aa96d4e.5c11e3"]]},{"id":"1aa96d4e.5c11e3","type":"mqtt out","z":"f2d640cc.d0654","name":"","topic":"clock","qos":"","retain":"","broker":"ef66be57.7092","x":910,"y":940,"wires":[]},{"id":"1c33fa11.7314d6","type":"ui_button","z":"f2d640cc.d0654","name":"","group":"6297ee08.0654e","order":5,"width":0,"height":0,"passthru":false,"label":"Sleep","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1370,"y":760,"wires":[["ec511ead.ef901","4e300be4.dc7e54","8c2eda98.c10978","f59efc19.dfb1f","34d80976.e47e26","25271670.74461a"]]},{"id":"f59efc19.dfb1f","type":"function","z":"f2d640cc.d0654","name":"weather off","func":"var x = msg.payload; // get value\nflow.set(\"w\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":760,"wires":[[]]},{"id":"8c2eda98.c10978","type":"function","z":"f2d640cc.d0654","name":"Mode Clock","func":"\nvar x = \"a;c\";\nmsg = {payload: x}; // set msg\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":800,"wires":[["c5d473c2.c21e6"]]},{"id":"ec511ead.ef901","type":"function","z":"f2d640cc.d0654","name":"Set Brightness","func":"\nvar x = \"b;1\";\nmsg = {payload: x}; // set msg\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":840,"wires":[["c5d473c2.c21e6"]]},{"id":"4e300be4.dc7e54","type":"function","z":"f2d640cc.d0654","name":"Set Dots","func":"var x = \"d;1;1\";\nmsg = {payload: x}; // set msg\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":880,"wires":[["c5d473c2.c21e6"]]},{"id":"c5d473c2.c21e6","type":"mqtt out","z":"f2d640cc.d0654","name":"","topic":"clock","qos":"","retain":"","broker":"ef66be57.7092","x":1810,"y":800,"wires":[]},{"id":"34d80976.e47e26","type":"function","z":"f2d640cc.d0654","name":"Set Digit Colors","func":"var x = \"g;\";\n\nvar rgb = global.get(\"rgb\");\n\nx = \"g;\" + rgb;\nx = x + ';';\nx = x + rgb;\nx = x + ';';\nx = x + rgb;\nx = x + ';';\nx = x + rgb;\n\n\nmsg = {payload: x}; // set msg\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":960,"wires":[["c5d473c2.c21e6"]]},{"id":"25271670.74461a","type":"function","z":"f2d640cc.d0654","name":"Set Dot Colors","func":"var x = \"e;\";\nvar rgb = global.get(\"rgb\");\nx = x + rgb + \";\" + rgb;\nmsg = {payload: x}; // set msg\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":920,"wires":[["c5d473c2.c21e6"]]},{"id":"d8f03edc.85e13","type":"ui_button","z":"f2d640cc.d0654","name":"None","group":"6297ee08.0654e","order":6,"width":0,"height":0,"passthru":false,"label":"Off","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1370,"y":1040,"wires":[["89dac9bb.fc2668","e6039b18.9c3ef8"]]},{"id":"89dac9bb.fc2668","type":"function","z":"f2d640cc.d0654","name":"weather off","func":"var x = msg.payload; // get value\nflow.set(\"w\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":1040,"wires":[[]]},{"id":"15901b4c.dcdf75","type":"mqtt out","z":"f2d640cc.d0654","name":"","topic":"clock","qos":"","retain":"","broker":"ef66be57.7092","x":1810,"y":1080,"wires":[]},{"id":"e6039b18.9c3ef8","type":"function","z":"f2d640cc.d0654","name":"Mode Off","func":"\nvar x = \"a;0\";\nmsg = {payload: x}; // set msg\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":1080,"wires":[["15901b4c.dcdf75"]]},{"id":"f8922638.f93548","type":"comment","z":"f2d640cc.d0654","name":"The time gets automatically updated every 6 hours","info":"","x":690,"y":40,"wires":[]},{"id":"a79ba126.d486c","type":"mqtt in","z":"f2d640cc.d0654","name":"","topic":"clock","qos":"0","broker":"bca74c2d.2cb7","x":240,"y":620,"wires":[["23fde0f5.62316"]]},{"id":"23fde0f5.62316","type":"debug","z":"f2d640cc.d0654","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":620,"wires":[]},{"id":"605f5ad4.27e444","type":"ui_switch","z":"f2d640cc.d0654","name":"","label":"Fade colors","group":"962631.ee4ab9d","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2030,"y":60,"wires":[["cbb95c49.831bb","7bda776f.cced48"]]},{"id":"c2db311c.0c2ff","type":"mqtt out","z":"f2d640cc.d0654","name":"","topic":"clock","qos":"","retain":"","broker":"ef66be57.7092","x":2610,"y":60,"wires":[]},{"id":"1da46f20.2c54b1","type":"comment","z":"3dbd3640.b5fc4a","name":"Edit the node below to set the database connection","info":"","x":450,"y":440,"wires":[]},{"id":"46147a9f.3603d4","type":"comment","z":"3dbd3640.b5fc4a","name":"Press the latch after you have connected the database and created the database in the shell","info":"","x":580,"y":560,"wires":[]},{"id":"debd0a21.42d4f8","type":"comment","z":"3dbd3640.b5fc4a","name":"Edit the node below to set the connection to the clock","info":"","x":460,"y":860,"wires":[]},{"id":"2507687d.db05d8","type":"comment","z":"e9ca6212.e667e","name":"Edit the node below to set the api key for the weather","info":"","x":330,"y":120,"wires":[]},{"id":"41f41b8.0e86ce4","type":"ui_slider","z":"f2d640cc.d0654","name":"","label":"Fade speed","group":"962631.ee4ab9d","order":3,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"9","step":1,"x":2110,"y":120,"wires":[["b5303df6.2385e"]]},{"id":"cbb95c49.831bb","type":"function","z":"f2d640cc.d0654","name":"FadeActivate","func":"var x = msg.payload; \nvar msg2;\nflow.set(\"fade_en\", x);\nif(!x){msg2={payload: \"#\"};}\nelse\n{\n    var spd = flow.get(\"fadelevel\");\n    if(spd == null){msg2={payload: \"*;0\"};}\n    else {msg2={payload: \"*;\"+spd};}\n}\n\nreturn msg2;","outputs":1,"noerr":0,"x":2230,"y":60,"wires":[["c2db311c.0c2ff"]]},{"id":"b5303df6.2385e","type":"function","z":"f2d640cc.d0654","name":"Set Fade Level","func":"var x = msg.payload; \nflow.set(\"fadelevel\", x);\n\nvar x2 = x*10 + 10;\nvar res = x2 + \"%\";\nvar msg2 = {payload: res};\n\nreturn msg;","outputs":1,"noerr":0,"x":2280,"y":120,"wires":[["e23e0817.77a068"]]},{"id":"e23e0817.77a068","type":"function","z":"f2d640cc.d0654","name":"Change Fade","func":"var x = msg.payload; \nvar msg2;\nvar en = flow.get(\"fade_en\");\nif(!en){msg2={payload: \"#\"};}\nelse\n{\n    msg2={payload: \"*;\"+x};\n}\n\nreturn msg2;","outputs":1,"noerr":0,"x":2460,"y":120,"wires":[["c2db311c.0c2ff"]]},{"id":"9586652a.f615f8","type":"ui_template","z":"f2d640cc.d0654","group":"7dec971a.70dfb8","name":"Table","order":3,"width":"6","height":"2","format":"<style>  table {      color: #333;      font-family: Helvetica, Arial, sans-serif;    width: 100%;      height: 60%;  border-collapse: collapse;      border-spacing: 0;  }  td, th {      border: 1px solid transparent;        height: 30px;      transition: all 0.3s;  }  th {      background: #DFDFDF;      font-weight: bold;  }  td {      background: #FAFAFA;      text-align: left;  }    tr:nth-child(even) td {      background: #F1F1F1;  }      tr:nth-child(odd) td {      background: #FEFEFE;  }  tr td:hover {      background: #666;      color: #FFF;  }  </style>\n\n<table width=\"50%\" align=\"center\">\n<tr><td align=\"left\">Digit 1:<td><b>{{msg.payload[0]}}</b></td></td><td align=\"left\">Digit 2:<td><b>{{msg.payload[1]}}</b></td></td></tr>\n<tr><td align=\"left\">Digit 3:<td><b>{{msg.payload[2]}}</b></td></td><td align=\"left\">Digit 4:<td><b>{{msg.payload[3]}}</b></td></td></tr>\n<tr><td align=\"left\">Dot 1:<td><b>{{msg.payload[4]}}</b></td></td><td align=\"left\">Dot 2:<td><b>{{msg.payload[5]}}</b></td></td></tr>\n\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1250,"y":580,"wires":[[]]},{"id":"5038ef83.21245","type":"ui_ui_control","z":"dbe598e1.59d008","name":"","x":280,"y":400,"wires":[["ed17c04b.dec5e"]]},{"id":"1c223acb.258035","type":"function","z":"f2d640cc.d0654","name":"","func":"var s1 = flow.get(\"s1\");\nvar s2 = flow.get(\"s2\");\nvar s3 = flow.get(\"s3\");\nvar s4 = flow.get(\"s4\");\nvar s5 = flow.get(\"s5\");\nvar s6 = flow.get(\"s6\");\n\nvar pay = [s1, s2, s3, s4, s5, s6];\n\nmsg.payload = pay;\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":580,"wires":[["9586652a.f615f8"]]},{"id":"7bda776f.cced48","type":"change","z":"f2d640cc.d0654","name":"Enable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1950,"y":120,"wires":[["41f41b8.0e86ce4"]]},{"id":"c2cc64bc.07ebf8","type":"function","z":"dbe598e1.59d008","name":"Disable Timer","func":"var value = msg.payload.substr(1);\nif(msg.payload.charAt(0) == '!')\n{\nmsg.topic = \"UPDATE alarm SET Enabled = 1 WHERE ID = \" + value;\n}\nelse if(msg.payload.charAt(0) == '#')\n{\nmsg.topic = \"UPDATE alarm SET Enabled = 0 WHERE ID = \" + value;\n}\nif(msg.payload.charAt(0) != '!' && msg.payload.charAt(0) == '#')return null;\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":480,"wires":[["45f66558.72a00c","154b2a3b.b6d206","97fc6772.678e18"]]},{"id":"45f66558.72a00c","type":"mysql","z":"dbe598e1.59d008","mydb":"b025b22b.5b687","name":"","x":1450,"y":480,"wires":[["f18a4758.4dfc88"]]},{"id":"f18a4758.4dfc88","type":"link out","z":"dbe598e1.59d008","name":"","links":["dcef8200.c4836","7d798016.e64bc"],"x":1555,"y":480,"wires":[]},{"id":"d0d5ea6d.e69698","type":"link out","z":"dbe598e1.59d008","name":"","links":["dcef8200.c4836"],"x":1135,"y":860,"wires":[]},{"id":"bbd86cd5.993f6","type":"debug","z":"dbe598e1.59d008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1270,"y":420,"wires":[]},{"id":"fb2d58e0.25ee28","type":"mqtt in","z":"dbe598e1.59d008","name":"","topic":"clock","qos":"0","broker":"bca74c2d.2cb7","x":580,"y":1120,"wires":[["d2bc001.115f6"]]},{"id":"d2bc001.115f6","type":"debug","z":"dbe598e1.59d008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":1120,"wires":[]},{"id":"154b2a3b.b6d206","type":"function","z":"dbe598e1.59d008","name":"Stop Alarm","func":"var msg = {payload: \"a;c\"};\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":520,"wires":[["a61ac78f.0c4978"]]},{"id":"a61ac78f.0c4978","type":"mqtt out","z":"dbe598e1.59d008","name":"","topic":"clock","qos":"","retain":"","broker":"177ecc54.4cc094","x":1710,"y":520,"wires":[]},{"id":"97fc6772.678e18","type":"function","z":"dbe598e1.59d008","name":"Restore Brightness","func":"var msg = {payload: \"b;50\"};\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":560,"wires":[["a61ac78f.0c4978"]]},{"id":"8836f414.a8bcc8","type":"function","z":"f2d640cc.d0654","name":"GetTime","func":"var now     = new Date(); \n\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\n\n\n\nvar offset = global.get(\"timeoffset\");\nif(offset != null)\n{\n    hour += offset; \n}\n\nif(hour >24)\n{\n    hour -= 24;\n}\nelse if(hour <0)\n{\n    hour += 24;\n}\n\n\nvar h1 = 0;\nvar h2 = 0;\nvar m1 = 0;\nvar m2 = 0;\n\n\n\nm2 = minute %10; \nm1 = parseInt((minute/10)%10); \nh2 = hour %10; \nh1 = parseInt((hour/10)%10); \n\n\nvar result = \"s;\";\nresult = result + h1;\nresult = result + \";\";\nresult = result + h2;\nresult = result + \";\";\nresult = result + m1;\nresult = result + \";\";\nresult = result + m2;\n\nmsg = {payload: result}; // set msg\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":160,"wires":[["65dd0d89.5f7fb4","d3c341c0.96d63"]]},{"id":"65dd0d89.5f7fb4","type":"debug","z":"f2d640cc.d0654","name":"de","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1070,"y":160,"wires":[]},{"id":"dd22fcc9.078ac","type":"debug","z":"f2d640cc.d0654","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":1200,"wires":[]},{"id":"e91c4f6c.752cf","type":"function","z":"f2d640cc.d0654","name":"Format","func":"var timesecs = flow.get(\"timervalue\");\nvar result = \"\";\n\n\n\n\n\n\n\n    var sec_num = parseInt(timesecs, 10); // don't forget the second param\n    var hours   = Math.floor(sec_num / 3600);\n    var minutes = Math.floor((sec_num - (hours * 3600)) / 60);\n    var seconds = sec_num - (hours * 3600) - (minutes * 60);\n\n    if (hours   < 10) {hours   = \"0\"+hours;}\n    if (minutes < 10) {minutes = \"0\"+minutes;}\n    if (seconds < 10) {seconds = \"0\"+seconds;}\n    result =  hours+';'+minutes+';'+seconds;\n\n    var fres = 't;'+result;\n\n\nmsg = {payload: fres};\n\nvar msg2 = {payload: result.replace(';', ':')};\n\nreturn [msg, msg2];\n\n\n\n\n\n\n","outputs":2,"noerr":0,"x":700,"y":1280,"wires":[["8b2e4ce1.a2169"],["1c7904d0.1b9e3b"]]}]